.swiper-slide {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  &_1 {
    background-image: url("../assets/img/slides/slide1.jpg");
  }

  &_2 {
    background-image: url("../assets/img/slides/slide2.jpg");
  }

  &_3 {
    background-image: url("../assets/img/slides/slide3.jpg");
  }

  &_4 {
    background-image: url("../assets/img/slides/slide4.jpg");
  }

  &_5 {
    background-image: url("../assets/img/slides/slide5.jpg");
  }
}

.swiper-pagination-bullet {
  min-width: 19%;
  max-height: 6px;
  border-radius: 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }
}

.swiper-pagination-bullet-active {

  background: rgba(#000, 0.2) !important;

  &::before {
    background-color: #A30C33;
    animation: slide-progress 2s cubic-bezier(.3, 0, .3, 1) forwards;

    .swiper-paused & {
      animation-play-state: paused;
    }
  }
}

@keyframes slide-progress {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}


