.btn {
  display: inline-block;
  padding: 18px 28px;
  background: #B01736;
  border-radius: 8px;
  font-family: 'Proxima Nova Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    background: #D53152;
  }
}