.departments {
  &__container {
  }

  &__title {
    margin-bottom: 55px;
  }

  &__items-container {
  }
}

.departments-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 22px;

  &__item {
    width: 615px;
    height: 260px;
    overflow: hidden;
    color: #FFFFFF;
    cursor: pointer;

    &:nth-child(5) {
      .departments-items__title {
        padding-top: 10px;
      }
    }

    &_solution-bg {
      background: url("../../assets/img/departments/solutions.jpg");
    }

    &_cyber-bg {
      background: linear-gradient(rgba(45, 54, 83, 0.6), rgba(45, 54, 83, 0.6)), url("../../assets/img/departments/security.jpg");
    }

    &_substitution-bg {
      background: linear-gradient(rgba(45, 54, 83, 0.6), rgba(45, 54, 83, 0.6)), url("../../assets/img/departments/substitution.jpg");
    }

    &_cloud-bg {
      background: linear-gradient(rgba(45, 54, 83, 0.6), rgba(45, 54, 83, 0.6)), url("../../assets/img/departments/cloud.jpg");
    }

    &_digital-bg {
      background: linear-gradient(rgba(45, 54, 83, 0.6), rgba(45, 54, 83, 0.6)), url("../../assets/img/departments/digital.jpg");
    }

    &_support-bg {
      background: linear-gradient(rgba(45, 54, 83, 0.6), rgba(45, 54, 83, 0.6)), url("../../assets/img/departments/support.jpg");
    }

    &:hover {
      .departments-items__item-container {
        transform: translate(0, 0);
      }

    }
  }

  &__item-container {
    height: 260px;
    background: rgba(45, 54, 83, 0.6);
    transform: translate(0, 190px);
    transition: 0.7s;
    z-index: 1;
    font-size: 17px;
    line-height: 140%;
    padding-left: 20px;

  }

  &__title {
    font-family: 'Proxima Nova Condensed Semibold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    padding-top: 28px;
    margin-bottom: 20px;
  }

  &__description {
    padding-right: 115px;

  }
}