.main {
  background-image: url("../../assets/img/bg.jpg");
  height: 600px;
  width: 100%;

  &__container {
    max-width: 709px;
    padding-left: 70px;
    padding-top: 158px;
  }

  &__text {
    margin-bottom: 60px;
    font-family: 'Proxima Nova Condensed Semibold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
  }

  &__btn {

  }
}