.sectionTitle {
  font-family: 'Proxima Nova Condensed Semibold', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
  color: #444444;
}