@import "abstracts/var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova Condensed', sans-serif;
  font-weight: 400;
  color: $text;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}