@font-face {
  font-family: 'Proxima Nova Condensed Semibold';
  src: url('../assets/fonts/ProximaNovaCond-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('../assets/fonts/ProximaNovaCond-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova Condensed Black';
  src: url('../assets/fonts/ProximaNova-Black.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../assets/fonts/ProximaNova-Semibold.woff') format('woff');
}
